
img{
    height : 150px;
    width :150px;
    border-radius: 50%;
    }
    .sidenav {
      height: 100%;
      width: 190px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #f1f1f1;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
    }
    a:hover{
        cursor: default;
    }
    
    .click:hover {
      color: black;
      cursor: pointer;
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }    .email{
        font-size: 5px;
      }
      